@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
}

.cell:nth-child(2),
.cell:nth-child(3),
.cell:first-child {
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--cell-size) * 0.9);
  font-weight: bold;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

/* .board.x {
} */

.cell:hover:not(.x):not(.o) {
  background-color: aqua;
  color: lightgrey;
}
